.Cname a {
    display: flex;
    align-items: center;
}

.expData {
    border-left: 9px solid #617371;
    padding-left: 3em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
}