.clock {
    width: auto;
    height: 70%;
    color: inherit;
    display: flex;
}

.dark .time {
    background: rgba(48, 9, 9, 0.1);
    /* blur effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.time {
    height: 50%;
    padding: 2%;
    /* Background transparent color */
    background: rgba(255, 255, 255, 0.1);

    /* blur effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* optional styling */
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: inherit;
}