.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tskills{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.tskills div {
    margin: 0 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
    align-items: center;
}


.skills ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.skills li {
    list-style: none;
    display: flex;
    text-align: center;
    
}

.heading {
    border-bottom: 2px groove rgb(192, 1, 144);
}